@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
body {
    font-family: "Oswald", sans-serif !important;
    margin: 0;
    padding: 0;
}

header {
    background: #DEDDD2;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
header img{
    max-width: 100px;
    max-height: 100px;
}
header .header_content{
    display: flex;
    justify-content: center;
}
nav{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
}

main {
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: black;
    color: white;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.slider {
    display: flex;
    overflow-x: auto;
}

.slider-item {
    margin-right: 10px;
}

.slider-item img {
    max-width: 100%;
    height: auto;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
}

.dropdown-menu li {
    margin: 10px 0;
}
.slider{
    margin-top: 20px ;
    display: flex;
    gap: 30px;
}
.slider a{
    font-size: 25px;
}
.text{
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    text-decoration: none;
    color: white;
}
.carousel{
    max-width: 768px;
    max-height: 640px;
}
main{
    display: flex;
    flex-direction: column;
}
.location{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    
}
.location a{
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.text_slider{
    font-family: "Montserrat", sans-serif !important;
    max-width: 768px;
    max-height: 640px;
    font-size: 27px;
    text-align: justify;
}
.text_slider a{
    font-size: 19px;
}
.location .address{
    font-size: 25px;
}
.pin_img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pin_img img{ 
    max-width: 35px;
    max-height: 35px;
}
.about_text{
    font-family: "Montserrat", sans-serif !important;
    font-size: 25px;
    line-height: 40px;
    text-align: justify;
    max-width: 700px;
    margin-top: 0px;
}
.about_title{
    font-family: "Oswald", sans-serif !important;
    font-size: 45px;
}
.about_card, .about_card1, .about_card2, .about_card3, .about_card4, .about_card5{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}
.about_card4{
    margin-bottom: 40px;
}
.about_img img{
    max-width: 700px;
}
.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.book_btn{
    background-color: #DEDDD2;
    border: none;
}
.int_img{
    margin-top: 20px;
}
